<br><br><br>
<div class="container">
    <div class="jumbotron">
        <div class="form-group">
            <h1 style="text-align : center">Blog Details...</h1>
            <label for="usr">Title:</label>
            <input type="text" class="form-control" id="usr" ng-model = "title">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="5" id="comment" ng-model = "description"></textarea>            
        </div>
        <button type="button" class="btn btn-primary" ng-click = "addBlog()">Add Blog</button>
    </div>
</div>